@model ScientificAuthorsDB.Models.Publication

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Publication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <textarea asp-for="Abstract" class="form-control"></textarea>
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doi" class="control-label"></label>
                <input asp-for="Doi" class="form-control" />
                <span asp-validation-for="Doi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journal" class="control-label"></label>
                <input asp-for="Journal" class="form-control" />
                <span asp-validation-for="Journal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationType" class="control-label"></label>
                <input asp-for="PublicationType" class="form-control" />
                <span asp-validation-for="PublicationType" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label class="control-label">Автори (задръж Ctrl за повече)</label>
                <select name="selectedAuthors" asp-items="ViewBag.Authors"
                        class="form-control" multiple size="5"></select>
            </div>

            <div class="form-group mt-3">
                <label class="control-label">Научни области (задръж Ctrl за повече)</label>
                <select name="selectedFields" asp-items="ViewBag.Fields"
                        class="form-control" multiple size="5"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
