@model ScientificAuthorsDB.Models.Institution
@{
    ViewData["Title"] = "Управление на институция";
}

<h2>Институция</h2>
<hr />
<form asp-action="@(ViewContext.RouteData.Values["action"])" method="post" class="row g-3">
    <div class="col-md-12">
        <label asp-for="Name" class="form-label fw-bold">Име на институцията</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Country" class="form-label fw-bold">Държава</label>
        <input asp-for="Country" class="form-control" />
    </div>
    <div class="col-md-6">
        <label asp-for="City" class="form-label fw-bold">Град</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="col-md-6">
        <label asp-for="Type" class="form-label fw-bold">Тип (Университет, Изследователски център и т.н.)</label>
        <input asp-for="Type" class="form-control" />
    </div>
    <div class="col-md-6">
        <label asp-for="Website" class="form-label fw-bold">Уебсайт</label>
        <input asp-for="Website" class="form-control" />
    </div>
    <div class="col-12 mt-4">
        <button type="submit" class="btn btn-primary">Запази</button>
        <a asp-action="Index" class="btn btn-secondary">Отказ</a>
    </div>
</form>